@import 'styles/variables';

.products {
    display: grid;
    gap: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    @media(min-width: $desktop) {
        gap: 160px;
        padding-top: 160px;
        padding-bottom: 160px;
    }
}