//colors
$orange: #D87D4A;
$light-orange: #fbaf85;
$light-black: #101010;
$black: #000000;
$transparent-black: #0000008e;
$dark-gray: #4C4C4C;
$gray: #F1F1F1;
$white: #FFFFFF;
$transparent-white: #ffffff88;

//breakpoints
$tablet: 768px;
$desktop: 1200px;