@import 'styles/variables';

.newProduct {
    display: grid;
    height: 510px;
    max-width: 316px;
    margin: 0 auto;
    @media(min-width: 500px) {
        min-height: 640px;
    }
    @media(min-width: $tablet) {
        max-width: 1100px;
    }
    @media(min-width: $desktop) {
        height: calc(100vh - 90px);
    }
}

.description {
    display: grid;
    align-content: center;
    gap: 24px;
    text-align: center;
    @media(min-width: $tablet) {
        max-width: 400px;
        text-align: start;
    }
    a {
        justify-self: center;
        @media(min-width: $tablet) {
            justify-self: start;
        }
    }
}