@import 'styles/variables';

.newProduct {
    display: grid;
    height: 510px;
    max-width: 316px;
    @media(min-width: 500px) {
        height: 640px;
    }
    @media(min-width: $tablet) {
        max-width: 400px;
    }
    @media(min-width: $desktop) {
        height: calc(100vh - 90px);
    }
}

.description {
    display: grid;
    align-content: center;
    gap: 24px;
    text-align: center;
    @media(min-width: $desktop) {
        max-width: 400px;
        text-align: start;
    }
    .button {
        justify-self: center;
        background-color: $orange;
        padding: 16px 32px;
        @media(min-width: $desktop) {
            justify-self: start;
        }
    }
}