@import 'styles/variables.scss';

.product {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 380px) {
        grid-template-columns: auto;
    }
    .productInfo {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
        .image {
            width: 64px;
            height: 64px;
            border-radius: 8px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .info {
            display: grid;
            gap: 4px;
            align-content: center;
        } 
    }
    .productEdit {
        display: flex;
        gap: 16px;
        color: $black;
        button {
            display: flex;
            align-content: center;
            width: 20px;
        }
    }
}