@import 'styles/variables';

.header {
    background-color: $light-black;
    color: $white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 24px;
    @media(min-width: $tablet) {
        pading: 0 40px;
    }
    @media(min-width: $desktop) {
        padding: 0 165px;
    }
}


