@import 'styles/variables.scss';

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    @media(min-width: $tablet) {
        justify-content: start;
        gap: 40px;
    }
    @media(min-width: $desktop) {
        justify-content: space-between;
    }
}

.nav::before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: $white;
    opacity: 0.1;
}

.logo {
    width: 143px;
    display: flex;
    align-content: center;
}

.menuBars {
    @media(min-width: $desktop) {
        display: none;
    }
}

.cart {
    @media(min-width: $tablet) {
        position: absolute;
        right: 0;
    }
    @media(min-width: $desktop) {
        position: unset;
    }
}

.links {
    display: none;
    @media(min-width: $desktop) {
        display: flex;
        gap: 32px;
    }
}