@import 'styles/variables.scss';

.sidebar {
    position: fixed;
    transition: 0.25s;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    background-color: $light-black;
    color: $white;
    border-right: 1px solid $transparent-white;
    padding-left: 24px;
    width: 224px;
    @media(min-width: $tablet) {
        width: 256px;
        padding-left: 40px;
    }
    @media(min-width: $desktop) {
        display: none;
    }
    &__closed {
        left: -224px;
        transition: 0.25s;
        @media(min-width: $tablet) {
            left: -256px;
        }
    }
    .closeSidebar {
        height: 90px;
        display: flex;
        align-items: center;
        i {
            font-size: 27px;
        }
    }
}

.closeArea {
    position: fixed;
    top: 0;
    left: 224px;
    width: calc(100vw - 224px);
    height: 100vh;
    z-index: 1;
    transition: 0.25s;
    @media(min-width: $tablet) {
        left: 256px;
        width: calc(100vw - 256px);
    }
    &__closed {
        display: none;
    }
}