@import 'styles/variables.scss';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100vh;
    background-color: $light-black;
    color: $white;
    border-right: 1px solid $transparent-white;
    padding-left: 24px;
    width: 224px;
    @media(min-width: $tablet) {
        width: 256px;
        padding-left: 40px;
    }
    @media(min-width: $desktop) {
        display: none;
    }
    &__closed {
        display: none;
    }
    .closeSidebar {
        height: 90px;
        display: flex;
        align-items: center;
        button {
            display: flex;
            align-content: center;
            width: 20px;
        }
    }
    .closeArea {
        position: fixed;
        top: 0;
        left: 224px;
        width: calc(100vw - 224px);
        height: 100vh;
        z-index: 4;
        transition: 0.25s;
        background-color: $transparent-black;
        @media(min-width: $tablet) {
            left: 256px;
            width: calc(100vw - 256px);
        }
    }
}