@import 'styles/variables';

.link {
    background-color: $orange;
    padding: 16px 32px;
    color: $white;
    display: flex;
    flex-wrap: nowrap;
}

.link:hover {
    @media(min-width: $desktop) {
        background-color: $light-orange;
        transition: 0.25s;
    }
}