@import 'styles/variables.scss';

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
    @media(min-width: $tablet) {
        justify-content: start;
        gap: 40px;
    }
    @media(min-width: $desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menuBars {
        display: flex;
        align-content: center;
        @media(min-width: $desktop) {
            display: none;
        }
        img {
            width: 20px;
        }
    }
    .cart {
        display: flex;
        align-content: center;
        @media(min-width: $tablet) {
            position: absolute;
            right: 0;
        }
        @media(min-width: $desktop) {
            position: unset;
            justify-self: end;
        }
        img {
            width: 25px;
        }
    }
    .links {
        display: none;
        @media(min-width: $desktop) {
            display: flex;
            gap: 32px;
        }
    }
}

.nav::before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: $white;
    opacity: 0.1;
}

.footerNav {
    position: relative;
    display: grid;
    gap: 48px;
    justify-items: center;
    text-align: center;
    padding: 48px 0;
    @media(min-width: $tablet) {
        justify-items: start;
    }
    @media(min-width: $desktop) {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media(min-width: $tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }
}

.footerNav::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100px;
    height: 4px;
    background-color: $orange;
}

.sidebarNav {
    .links {
        display: grid;
        gap: 24px;
    }
}

.logo {
    width: 143px;
    height: 25px;
    display: flex;
    align-content: center;
}

.links {
    li a {
        transition: 0.25s;
    }
    li a:hover{
        @media(min-width: $desktop) {
            color: $orange;
            transition: 0.25s;
        }
    }
}

.links li a:hover::after {
    @media(min-width: $desktop) {
        width: 100%;
        transition: 0.25s;
    }
}

.links li a::after {
    @media(min-width: $desktop) {
        content: '';
        display: block;
        background-color: $orange;
        height: 2px;
        width: 0;
        transition: 0.25s;
    }
}